@import 'tailwindcss';

@theme {
  --color-cream: #ffe6bd;
  --color-golden: #cc8617;
  --font-display: 'StardosStencil';
  --font-body: 'Montserrat';
}

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 300 900;
  font-style: normal;
}

@font-face {
  font-family: 'StardosStencil';
  src: url('/fonts/StardosStencil-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.hero {
  background-image: url('./assets/barbershop-bg.jpg');
  background-size: cover;
}

.barbers {
  background-image: url('./assets/tools-background.jpg');
  background-size: cover;
}

@media (min-width: 1024px) {
  .service:last-child {
    grid-column: span 2;
    margin: auto;
  }
}

.reviews-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(0, 0, 0);
  background-color: #9a9a9abf;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 250ms;
  font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #fdfdfde3;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem; /* arrow size */
}

@media (max-width: 768px) {
  .barbershop-slide > div {
    pointer-events: none;
  }
}

.btn-animate {
  position: relative;
  overflow: hidden;
}

.btn-animate > span {
  z-index: 10;
}

.btn-animate:hover > span {
  color: black;
  transition: all;
  transition-duration: 600ms;
}

.btn-animate::before {
  content: '';
  position: absolute;
  right: 0;
  transform: translateX(100%);
  width: 50%;
  height: 100%;
  background-color: currentColor;
  z-index: 1;
  transition: transform 0.4s ease;
}

.btn-animate::after {
  content: '';
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  width: 50%;
  height: 100%;
  background-color: currentColor;
  z-index: 1;
  transition: transform 0.4s ease;
}

.btn-animate:hover::before {
  transform: translateX(0);
}

.btn-animate:hover::after {
  transform: translateX(0);
}

.card-icon > img {
  transition: all;
  transition-duration: 300ms;
}

.card-icon:hover > img {
  transform: scale(120%);
}

.nav-btn {
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease;
}

.nav-btn:hover {
  color: #b8a269;
}

.nav-btn::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #b8a269;
  bottom: 0;
  transform: translateX(-101%);
  transition: all 0.4s ease;
}

.nav-btn:hover::before {
  transform: translateX(0);
}

.menu-button > span {
  transition: all 0.2s ease;
}

.menu-button:hover > span {
  color: #cc8617;
}

.more-info-btn > svg {
  transition: all 0.2s ease;
}

.more-info-btn:hover > svg {
  fill: #cc8617;
}
